workflows/rappi_ops_chat_agent.json
{
  "name": "Rappi Ops Copilot - DeepSeek Chat Agent",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -760,
        -120
      ],
      "id": "b3892c4d-2bbf-4654-b5ca-f6acb91f8cc0",
      "name": "When chat message received",
      "webhookId": "b2a0878f-58c7-4f89-a98b-2dc29cd637a8"
    },
    {
      "parameters": {
        "options": {
            "systemMessage": "You are Rappi Ops Copilot, a bilingual Spanish/English analytics assistant for operations metrics.\n\nDeepSeek owns the analysis: interpret the user's natural language, choose the metrics/dimensions/time period, write the SQL, inspect the returned rows, and explain the answer. The API tools only expose schema, run read-only SQL, and export previous results.\n\nRules:\n- Always use tools before giving numeric answers.\n- Use Get Schema before writing SQL when you need table names, metric names, valid dimensions, country codes, city aliases, segment labels, synonyms, or relative-week semantics.\n- Use Run SQL Analysis for every numeric answer, ranking, comparison, trend, aggregation, diagnosis, or export setup.\n- Generate your own Postgres SELECT/WITH SQL. Do not ask the user to provide SQL.\n- Do not invent metrics, calendar dates, denominators, causes, or unavailable dimensions.\n- The data uses relative weeks. L0W means the most recent available week. Last 8 weeks means L7W through L0W unless the user says otherwise.\n- City values are canonicalized in the dataset. For user-provided city names or aliases, use schema city_aliases or join dim_city_alias; for example, CDMX maps to Ciudad De Mexico. Never filter dim_zone.city = 'CDMX'.\n- fact_metric_week has is_outlier. For metrics whose semantic_metric.outlier_policy is flag, exclude is_outlier = true from averages, rankings, trends, correlations, and diagnoses unless the user explicitly asks to inspect outliers.\n- If the user asks in Spanish, answer in Spanish. If the user asks in English, answer in English.\n- For ambiguous wording, make a reasonable default when safe and state it. Ask a concise clarification only when the answer would be materially different.\n- For zonas problematicas, decide the observable SQL logic yourself using deteriorated or weak metrics.\n- For inference questions, explain likely drivers as hypotheses based on observed metric relationships. Do not claim causality.\n- Include period, filters, aggregation method, and caveats when relevant.\n- When including a table, use valid markdown table syntax with the header row, separator row, and every data row on separate lines. Never put multiple table rows on one line.\n- Suggest 2 or 3 useful follow-up analyses after substantive answers.\n- If a chart is useful, describe the chart type and axes you recommend from the SQL result.\n- If the user asks to export, use Export Result with the query_id from the previous Run SQL Analysis response. If the prior query_id is missing or stale, rerun the analysis and export the new query_id.\n- Export Result returns JSON link metadata. Reply with the returned href/browser_url values exactly. Never invent domains, placeholder hosts, /api/reports/sql paths, or sqlanalysis IDs."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -420,
        -120
      ],
      "id": "80e411a3-713f-4a3c-b68b-d7ed1e77717c",
      "name": "Rappi Ops Agent"
    },
    {
      "parameters": {
        "model": "=deepseek-v4-pro",
        "options": {
          "temperature": 0.1,
          "maxTokens": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -560,
        140
      ],
      "id": "967f9cfe-a23b-471b-a150-0f1a0c9fb41c",
      "name": "DeepSeek V4 Pro",
      "credentials": {
        "deepSeekApi": {
          "id": "",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "tableName": "rappi_ops_chat_memory",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -360,
        140
      ],
      "id": "81ed89a9-5449-4d9f-9e7a-cfdde6fc7ad2",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Rappi Ops Postgres"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this first when you need the current metric catalog, valid dimensions, countries, segment labels, synonyms, or relative-week semantics for the Rappi operations dataset.",
        "method": "POST",
        "url": "http://ops-api:8000/schema",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"include_examples\": true,\n  \"language\": \"{language}\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "language",
              "type": "string",
              "description": "User language. Use es, en, or auto."
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -160,
        140
      ],
      "id": "3abfd36f-0a2e-41af-8ffd-0cc8c2195885",
      "name": "Get Schema"
    },
    {
      "parameters": {
        "toolDescription": "Run model-generated read-only Postgres SQL against the Rappi operations dataset. DeepSeek must choose the query logic. Use only SELECT or WITH SQL. Available core tables from Get Schema: dim_zone, dim_city_alias, semantic_metric, metric_synonym, fact_metric_week, fact_orders_week. Use week_offset = 0 for the latest week; use week_offset between 7 and 0 for the last 8 weeks. Join metric facts to dim_zone and semantic_metric. Join order facts to dim_zone. For user-provided city filters, resolve a distinct country/city set from dim_city_alias using lowercase ASCII aliases, then join it to dim_zone; for example, CDMX should use alias 'cdmx' resolving to Ciudad De Mexico, not z.city = 'CDMX'. fact_metric_week.is_outlier marks invalid source outliers; exclude is_outlier = true for normal averages, rankings, trends, correlations, and diagnoses unless the user explicitly asks for outliers. Never use write/admin SQL. Return enough rows to answer, but keep limits reasonable. Send SQL as a single-line JSON-safe string; use single quotes for SQL string literals and avoid double-quoted identifiers.",
        "method": "POST",
        "url": "http://ops-api:8000/sql",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"question\": \"{question}\",\n  \"sql\": \"{sql}\",\n  \"limit\": {limit},\n  \"visualization\": \"{visualization}\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "question",
              "type": "string",
              "description": "Original user question."
            },
            {
              "name": "sql",
              "type": "string",
              "description": "The read-only Postgres SELECT/WITH SQL generated by DeepSeek for this question. Send it as one line; use single quotes for string literals and avoid double-quoted identifiers."
            },
            {
              "name": "limit",
              "type": "number",
              "description": "Maximum rows to return, 1 to 1000."
            },
            {
              "name": "visualization",
              "type": "string",
              "description": "Suggested display mode from DeepSeek: table, bar, line, scatter, or none."
            }
          ]
        },
        "optimizeResponse": false
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        60,
        140
      ],
      "id": "d5422234-7145-4a91-b3f6-aaec3df5b79c",
      "name": "Run SQL Analysis"
    },
    {
      "parameters": {
        "toolDescription": "Return browser-safe download links for a previous Run SQL Analysis result as CSV or PDF. Use the query_id from the previous tool response. Supported format values: csv, pdf, both. The tool returns JSON link metadata; use the returned href/browser_url exactly and do not invent file paths.",
        "method": "GET",
        "url": "http://ops-api:8000/exports/{query_id}/links?format={format}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "query_id",
              "type": "string",
              "description": "The query_id returned by Run SQL Analysis."
            },
            {
              "name": "format",
              "type": "string",
              "description": "csv, pdf, or both."
            }
          ]
        },
        "optimizeResponse": false
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        300,
        140
      ],
      "id": "2e3c6dbd-7d76-4e77-98a6-99b934af87d1",
      "name": "Export Result"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Rappi Ops Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek V4 Pro": {
      "ai_languageModel": [
        [
          {
            "node": "Rappi Ops Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Rappi Ops Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "When chat message received",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Schema": {
      "ai_tool": [
        [
          {
            "node": "Rappi Ops Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Run SQL Analysis": {
      "ai_tool": [
        [
          {
            "node": "Rappi Ops Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Export Result": {
      "ai_tool": [
        [
          {
            "node": "Rappi Ops Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1568f8de-06c5-40a6-ad05-5554342f9887",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
